@import "../core/variabes";

.article {
  text-align: center;
  &__img {
    &--photo {
      margin: 10px;
      width: 150px;
      height: 220px;
      border-radius: 5%;
      border: 1px solid rgb(126, 126, 238);
    }
  }
  &__tittle2 {
    font-family: $font-main;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.25;
  }

  &__title3 {
    padding-bottom: 15px;
    font-size: 24px;
    font-weight: bold;
  }

  &__paragraph {
    margin: 20px;
    padding-bottom: 30px;
    text-transform: none;
    font-family: $font-second;
    font-weight: normal;
    color: $colortextP;
    font-size: 18px;
    line-height: 1.5;
    &--claim {
      text-align: center;
      margin-bottom: 20px;
      font-family: $font-second;
      color: $colortextP;
      font-size: 18px;
      line-height: 1.5;
    }
  }
  //Reservar por si quiero añadir un boton "conoceme más"
  /*
  &__buttom {
    width: 76px;
    height: 45px;
    padding: 20px;
    border: 3px solid $colorbuttoms;
    border-radius: 22.5px;
    background-color: $colortext;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &:hover {
      background-color: #faac58;
      transition: all ease 5s;
    }
    &--link {
      color: $colorbuttoms;
      font-size: 20px;
      font-weight: 500;
      line-height: 2.25;
    }
  }*/
}
@media all and (min-width: 768px) {
  .sectionInsomnia {
    margin: 30px 39px 60px 39px;
  }
  .article {
    &__container {
      display: flex;
      align-items: center;
    }

    &__img {
      padding-right: 20px;
    }
    &__tittle2 {
      line-height: 2.14;
    }
    &__paragraph {
      padding-left: 20px;
      font-size: 20px;
      text-align: left;
    }
    /*
    &__buttom {
      width: 91px;
    }*/
  }
}

@media all and (min-width: 1200px) {
  .sectionInsomnia {
    margin: 60px 225px;
  }
  .article {
    &__img {
      padding-right: 50px;
      &--photo {
        align-items: center;
        height: 400px;
        width: 250px;
      }
    }
    &__paragraph {
      text-align: center;
    }
    &__title3 {
      font-size: 32px;
    }
  }
}
