@import "../core/variabes";

#section__reasons {
  scroll-margin-top: 5px;
}

.section-title {
  padding: 30px 0;
  font-family: $font-main;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.25;
}

.Article-Container {
  padding: 45px 70px;
  text-align: center;
  font-family: $font-second;
  font-size: 18px;
  line-height: 1.67;
  @media all and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
.reason__buttom {
  width: 200px;
  height: 45px;
  margin-bottom: 60px;
  border: 3px solid $colorbuttoms;
  border-radius: 22.5px;
  background-color: $colorbuttoms;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  &--link {
    font-size: 20px;
    line-height: 2.25;
    font-weight: 500;
    font-family: $font-second;
    text-align: center;
    color: $colortext;
    transition: all 5s ease;
    &:hover {
      font-size: 25px;
      color: $colorh2main;
    }
  }
}
.imgdata {
  height: 100px;
  width: 100px;
}
.containertex {
  text-align: center;
}

.reason__buttom {
  width: 210px;
}

@media all and (min-width: 1200px) {
  .reason__buttom {
    width: 255px;
  }
}

.projects {
  text-align: center;
  &__title {
    padding: 30px 0;
    font-family: $font-main;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.25;
  }
  &__container {
    font-family: $font-second;
    font-size: 10px;
    @media all and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    &--li {
      font-size: 15px;
      padding: 10px;
      margin: 10px;
      border: blue 2px solid;
      align-items: center;
    }

    &--img {
      width: 300px;
    }
  }
}
