.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
}

.each-span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}
.slide-container1 {
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow: hidden;
}

.projects {
  margin: 100px;
  text-align: center;
}

.container .slick-prev {
  left: -20px !important;
  transform: rotate(90deg);
  top: 125px !important;
  background-color: red !important;
}

.slick-list {
  top: 42px;
  left: -15px;
}
/*
.slick-prev:before,
.slick-next:before {
  display: none;
}*/
.slick-vertical .slick-slide {
  height: 28px !important;
  width: 50px !important;
  padding: 0;
}
.slick-slider {
  width: 50px !important;
}
.slick-track {
  align-items: center;
  align-content: center;
}
