.social {
  &__ul {
    text-align: center;
    display: flex;
    justify-content: space-around;
    padding-top: 5px;
    &--li .item1 {
      display: flex;
      flex-direction: column-reverse;
      padding: 15px;
      font-size: 30px;
      @media all and (min-width: 768px) {
        font-size: 50px;
      }
      @media all and (min-width: 1200px) {
        font-size: 70px;
      }
    }
  }
}
