<footer class="footer">
  <a class="footer__icon" href="index.html">
    <img class="imgfooter" src="./assets/images/ico-arrow.svg" alt=" icono con una flecha hacia arriba"
      title="redirige al index de la página">
  </a>

  <div class="footer-Container">
    <nav class="menuSections">
      <ul class="menuSections__list ">
        <li class="menuSections__list--items">
          <a href="https://adalab.es/" class="menuSections__list--links">Articles</a>
        </li>
        <li class="menuSections__list--items">
          <a href="https://adalab.es/" class="menuSections__list--links">Books</a>
        </li>
        <li class="menuSections__list--items">
          <a href="https://adalab.es/" class="menuSections__list--links">Events</a>
        </li>
        <li class="menuSections__list--items">
          <a href="https://adalab.es/" class="menuSections__list--links">Reasons</a>
        </li>
        <li class="menuSections__list--items">
          <a href="https://adalab.es/" class="menuSections__list--links">Tips</a>
        </li>
      </ul>
    </nav>
    <nav class="menuSocial">
      <ul class="menuSocial__list">
        <li class="menuSocial__list--items">
          <a href="https://adalab.es/" class="menuSocial__list--links">Twitter</a>
        </li>
        <li class="menuSocial__sections--items">
          <a href="https://adalab.es/" class="menuSocial__list--links">Instagram</a>
        </li>
        <li class="menuSocial__social--items">
          <a href="https://adalab.es/" class="menuSocial__list--links">Mastodon.social</a>
        </li>
      </ul>
    </nav>

    <div class="footerend">
      <small class="footerend__copy">&copy;2021</small>
      <p class="footerend__paragraph">
        we <i class="fa fa-heart" aria-hidden="true"></i>
        <span class="footerend__paragraph--text">components</span>
      </p></span>
    </div>
  </div>
</footer>