// fonts
$font-main: "Roboto Slab", sans-serif;
$font-second: "Roboto", sans-serif;

// colors
$colorBackgroundfooter: #304268;
$colorBackground2: #eff9ff;
$colorbuttoms: #f26002;
$colorheadernav: #0271bc;
$colorshadow: rgba(0, 0, 0, 0.5);

//colors for font
$colortitle1: #0000;
$colorh2main: #8ccbea;
$colortext: #ffffff;
$colortextP: #4a4a4a;
